PORT=3001
NODE_ENV=development
MIDNIGHT_NETWORK=preview
MIDNIGHT_CONTRACT_ADDRESS=9d805bd89a06638928a7b1301bc4d731d747d4252ad7bd4cbf03b011b97d43f2
MIDNIGHT_INDEXER_URL=https://indexer.preview.midnight.network/api/v4/graphql
MIDNIGHT_NODE_URL=https://rpc.preview.midnight.network
CORS_ORIGIN=http://localhost:5173
